deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

limits_config:
  allow_structured_metadata: true

singleBinary:
  replicas: 1

# Disable all distributed components (single binary mode)
backend:
  replicas: 0
bloomCompactor:
  replicas: 0
bloomGateway:
  replicas: 0
compactor:
  replicas: 0
distributor:
  replicas: 0
indexGateway:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

gateway:
  enabled: false

minio:
  enabled: true

memberlist:
  service:
    publishNotReadyAddresses: true

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false

lokiCanary:
  enabled: false

test:
  enabled: false
